framework: net6.0
source https://api.nuget.org/v3/index.json

nuget CommandLineParser 2.8.0
nuget Handlebars.Net 1.11.5
nuget Humanizer.Core 2.8.26
nuget Microsoft.Extensions.DependencyInjection 3.1.9
nuget Microsoft.Extensions.DependencyInjection.Abstractions 3.1.9
nuget Microsoft.IdentityModel.Abstractions 6.19.0
nuget Microsoft.IdentityModel.Logging 6.19.0
nuget Microsoft.IdentityModel.Tokens 6.19.0
nuget Microsoft.NETCore.App.Ref 6.0.8
nuget Newtonsoft.Json 13.0.1
nuget System.Runtime 4.3.1


group dotnet_deps
    framework: net6.0
    source https://api.nuget.org/v3/index.json
    nuget CommandLineParser 2.8.0
    nuget Handlebars.Net 1.11.5
    nuget Humanizer.Core 2.8.26
    nuget Microsoft.Extensions.DependencyInjection 3.1.9
    nuget Microsoft.Extensions.DependencyInjection.Abstractions 3.1.9
    nuget Microsoft.IdentityModel.Abstractions 6.19.0
    nuget Microsoft.IdentityModel.Logging 6.19.0
    nuget Microsoft.IdentityModel.Tokens 6.19.0
    nuget Microsoft.NETCore.App.Ref 6.0.8
    nuget Newtonsoft.Json 13.0.1
    nuget NUnit 3.13.2
    nuget NUnitLite 3.13.2
    nuget System.Diagnostics.Tools 4.3.0
    nuget System.Runtime 4.3.1
